:root {
	--white: #FFFFFF;
	--red-danger: #F75A68;
	--green: #00875F;
	--green-light: #00B37E;
	--gray-1: #121214;
	--gray-2: #202024;
	--gray-3: #323238;
	--gray-4: #7C7C8A;
	--gray-5: #8D8D99;
	--gray-6: #C4C4CC;
	--gray-7: #E1E1E6;
}

body {
	background: var(--gray-1);
	color: var(--white);
}